<bar-rating [rate]="rate" (rateChange)="updateRate($event)"></bar-rating>
<div style="text-align: center;" oncontextmenu="return false;">
  <embed (contextmenu)="onRightClick()" [src]="resourcefile" type="application/pdf" width="100%" height="600px"
    *ngIf="RcResourceService.form.value.type==='pdf'" />
  <audio (contextmenu)="onRightClick()" width="200px" height="200px" controls
    *ngIf="RcResourceService.form.value.type==='sound'" controlsList="nodownload">
    <source [src]="resourcefile" type="audio/mpeg">
    <source [src]="resourcefile" type="audio/ogg">
    Your browser does not support the audio tag.
  </audio>
  <video (contextmenu)="onRightClick()" width="100%" height="600px" controls
    *ngIf="RcResourceService.form.value.type==='video'" controlsList="nodownload">
    <source [src]="resourcefile" type="video/mp4">
    <source [src]="resourcefile" type="video/ogg">
    Your browser does not support the video tag.
  </video>
  <iframe (contextmenu)="onRightClick()" class="e2e-iframe-trusted-src" width="100%" [src]="resourcefile"
    *ngIf="RcResourceService.form.value.type==='link'"></iframe>
  <iframe (contextmenu)="onRightClick()" class="e2e-iframe-trusted-src" width="100%" [src]="resourcefile"
    *ngIf="RcResourceService.form.value.type==='image'"></iframe>
</div>
<div (contextmenu)="onRightClick()" [innerHTML]="RcResourceService.form.value.typestr"
  *ngIf="RcResourceService.form.value.type==='html'"></div>
<button mat-raised-button flex="50" (click)="onCancel()" color="warn">Dismiss</button>
