<h1 mat-dialog-title>Resource Center Tags</h1>
<div mat-dialog-content>
    <form [formGroup]="RcTagService.form" class="normal-form" (submit)="onSubmit()">
        <mat-grid-list cols="2" rowHeight="150px">
            <mat-grid-tile>
                <div class="controles-container">
                    <input type="hidden" formControlName="id">
                    <mat-form-field>
                        <input formControlName="tagtitle" matInput placeholder="Tag Title*">
                        <mat-error>This field is tagtitle.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="priority" matInput placeholder="Priority">
                        <mat-error>Invalid priority.</mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="controles-container">
                    <div class="add-bottom-padding">
                        <mat-radio-group formControlName="role">
                            <mat-radio-button value="cp">Conversation Partner</mat-radio-button>
                            <mat-radio-button value="learner">Language Learner</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="submit" [disabled]="RcTagService.form.invalid">Submit</button>
                        <!-- <button mat-raised-button color="warn" (click)="onCancel()">Clear</button> -->
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="close" (click)="onCancel()" color="warn">Cancel</button>
</div>