<div class="container">
  <mat-toolbar>
    <a (click)="GotBackToTags()">Dashboard </a>
    <span class="padding-left-10"></span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <div class="landingcontainer">
    <div layout="row" layout-wrap flex>
      <span class="profile-main-title">Choose your tag</span>
      <span class="landingbox" *ngFor="let tag of orginaltags; let i = index">
        <input type="button" (click)="GotToFormat(tag)" [value]="tag.tagtitle" />
      </span>
    </div>
  </div>
</div>
