<div class="container">
  <mat-toolbar>
    <a (click)="GotBackToTags()">Dashboard </a> <span class="padding-left-10"> > </span>
    <span class="padding-left-10">{{tagcurrent.tagtitle}}</span> <span class="padding-left-10"> > </span>
    <span class="padding-left-10">Formats</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <div style="text-align:center">
    <!-- <h1>TalkEngO Resource Center Language Learner Dashboard</h1> -->
    <div layout="row" layout-wrap flex>
      <span flex="20" *ngFor="let format of orginalformats; let i = index">
        <input type="button" (click)="GotToCats(format)" [value]="format.formattitle" />
      </span>
    </div>
  </div>
</div>
