<div class="search-div">
  <div class="blocks">
    <button button="submit" mat-raised-button color="primary" (click)="openDialog(null)">
      <mat-icon>add</mat-icon> Add Category
    </button>
  </div>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="cattitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cat Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cattitle}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.priority}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.role}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openDialog(element)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteRow(element)">
          <mat-icon title="Send to trash" *ngIf="element.trashstatus===0 || element.trashstatus===undefined">
            delete_outline</mat-icon>
          <mat-icon title="Delete for ever" *ngIf="element.trashstatus===1">delete_forever
          </mat-icon>
        </button>
        <button mat-icon-button title="Redo delete" *ngIf="element.trashstatus===1" (click)="undodelete(element)">
          <mat-icon>undo</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
