<div style="text-align:center">
  <h1>TalkEngO Resource Center Management System</h1>
  <p>
    This is a platform for manage Resource Center modules.
    <br> Click on modules to get Started!!!
  </p>
</div>
<div class="blocks" style="text-align:center">
  <h3>Language learner resource center</h3>
  <input type="button" (click)="DashboardLL()" value="Resource center for LL" />
</div>
<div class="blocks" style="text-align:center">
  <h3>Sample session (topics for "general" group): special resource</h3>
  <input type="button" (click)="Dashboardllsessionspecial()" value="Special resources" />
</div>
<div class="blocks" style="text-align:center">
  <h3>Sample session (topics for "general" group): homework</h3>
  <input type="button" (click)="Dashboardllsessionhomework()" value="Homework" />
</div>
