<div style="text-align:center">
  <h1>{{ 'Dashboard.DashboardTitle' | translate }}</h1>
  <p>
    {{ 'Dashboard.Descrioption' | translate }}
  </p>
</div>
<div class="blocks" style="text-align:center">
  <!-- <h3>Language learner resource center</h3> -->
  <input type="button" (click)="DashboardLL()" value="{{ 'Profile.Login as role LL' | translate }}" />
</div>
<div class="blocks" style="text-align:center">
  <h3>{{ 'Dashboard.Sample session (related special resource) for topic:' | translate }} hw1 name, hometown and weather
  </h3>
  <input type="button" (click)="Dashboardllsessionspecial()" value="{{ 'Dashboard.Special' | translate }}" />
</div>
<div class="blocks" style="text-align:center">
  <h3>{{ 'Dashboard.Sample session (homework resource) for topic:' | translate }} hw1 name, hometown and weather</h3>
  <input type="button" (click)="Dashboardllsessionhomework()" value="{{ 'Dashboard.Homework' | translate }}" />
</div>
